.git
.github
.gitignore

.venv
venv
env

__pycache__
*.py[cod]

.pytest_cache
.ruff_cache
.ipynb_checkpoints

notebooks

tests

mlruns
mlartifacts

data/raw
data/processed

models

logs

*.ipynb

.idea
.vscode
.DS_Store

README.md